body{
	font-family: proxima-nova,Arial,Helvetica,sans-serif;
}


h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}

small {
	vertical-align: top;
}

.title {
	margin-top: 40px;
}

.about-section, .contact-section {
    text-align: left;
    position: relative;
}
.btn-danger, .btn-danger:hover {
	border-color: #222;
}

.navbar-default {
    background-color: #fff;
    border-bottom-color: #EF403A;
    border-bottom-width: 4px;
}
.navbar-brand {
    font-size: 28px;
}
.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-header {
	padding-top: 12px;
	color: #333;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #333;
}

.navbar-default .navbar-nav > li > a {
    color: #ef4035;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ef4035;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ef4035;
    background-color: #fff;
}

.footer {
	position: absolute;
	bottom: 0;
	width:100%;
	background-color: #110e0f;
	color: #b2b2b2;
}
.footer .row {
    padding-top:70px;
    padding-bottom: 70px;
}
.footer h3 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.footer a {
	margin-right: 5px;
}
.footer a.extra{
	margin-right: 15px;
}