h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}

.about-section, .contact-section {
    text-align: left;
}
.btn-danger, .btn-danger:hover {
	border-color: #222;
}

.navbar-default {
    background-color: #fff;
    border-bottom-color: #EF403A;
    border-bottom-width: 4px;
}
.navbar-brand {
    font-size: 28px;
}
.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
    font-size: 16px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #e5e7e9;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e7e7e7;
    color: #333;
}
